main{
    height: auto;
}
#hero{
    width: 100%;
    height: 450px;
}

.hero {
    position: relative;
    width: 100%; 
    height: 350px; 
    background-image: url('../images/indigo.jpg');
    background-size: cover;
    /* opacity: .9; */
    background-position: center;
  }
  
.hero-heading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff; 
    font-size: 5em; 
    text-align: center;
   
  }
  
form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background: linear-gradient(to right, #001f3f, #000000);
    color: #ffffff;
    border-radius: 20px;
    /* width: max-content; */
}
label, input{
    padding: 10px;
}
input{
    border-radius: 25px;
}
.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
}
.flex-item1{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid black;
}
.flex-item2{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid black;
}
  
.flex-item2 img,
.flex-item1 img {
    width: 200px;
    height: auto;
}
/* .wrapper{
    display: grid;
} */