main {
  margin: 3% 6%;
  height: auto;
  background: #faf9f5;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid grey;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

#accordion ul {
  margin: 0;
}
#accordion li {
  list-style: none;
  margin-bottom: 10px;
  background: white;
  padding: 10px;
  border-radius: 4px;
}

#accordion li label {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  color: #037683;
}
#accordion li label span {
  transform: rotate(90deg);
  font-size: 16px;
  color: #333;
}
#accordion label + input[type="radio"] {
  display: none;
}
#accordion .content {
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s;
}
#accordion label + input[type="radio"]:checked + .content {
  max-height: 400px;
}

.content {
  font-weight: 500;
  font-size: 16px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 15px;
}

.section1 form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  border: 1px solid grey;
  padding: 20px;
  border-radius: 10px;
  background: #faf9f5;
  box-shadow: 4px 4px 8px rgba(10, 0, 0, 0.3);
  min-height: 60vh;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  padding: 8px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 16%;
  margin-left: 35%;
  box-shadow: 4px 4px 8px rgba(2, 2, 2, 0.3);
}
input[type="subscribe"] {
  padding: 9px 9px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 3%;
}
select#country {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

select#country option {
  padding: 8px;
}

select#country option[disabled]:first-child {
  color: #aaa;
}
.headingFAQ {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  margin: 10px;
}
#faq {
  text-align: center;
  margin: 0;
  color: red;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 22px;
  width: 50%;
  background: #fff;
}
#searchInput {
  width: 45%;
  padding: 8px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
#searchInput1 {
  width: 28%;
  padding: 8px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.submitted-message {
  display: none;
  text-align: center;
  margin-top: 10px;
}

img {
  width: 100%;
  max-height: 69vh;
}

.subscribe {
  height: 70%;
  padding:10px;
  border: 1px solid black;
  margin: 15px;
  box-shadow: 2px 2px 2px rgba(2, 2, 2, 0.3);
  background: #faf9f5;
  border-radius: 10px;
}

#storemap {
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(2, 2, 2, 0.3);
  overflow: hidden;
}
#subscribeHeading {
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  color: red;
}

.mainHeading {
  text-align: center;
  margin: 10px;
  color: #007b89;
}
.subHeading {
  text-align: center;
}
.search-container1 {
  text-align: center;
  margin: 10px;
}
#subscribeButton {
  padding: 10px;
  background: #007bff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  margin: 5px;
  box-shadow: 4px 4px 8px rgba(2, 2, 2, 0.3);
  width: auto;
}
#submitButton {
  padding: 12px;
  background: #007bff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  box-shadow: 4px 4px 8px rgba(2, 2, 2, 0.3);
}
.buttonSection {
  text-align: center;
}
@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr;
    border: none;
  }
  img {
    width: 100%;
    height: 86%;
  }
  #searchInput{
    width: 100%;
  }
  #searchInput1{
    width: 100%;
  }
  .subscribe {
    border: none;
  }
}

@media (max-width: 760px) {
  .grid-container {
    grid-template-columns: 1fr;
    padding: 10px;
    background-color: #f5f5f5;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 15px;
    border: none
  }
  .headingFAQ {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin: 10px;
  }
  #searchInput{
    width: 100%;
  }
  #searchInput1{
    width: 100%;
  }
  #faq {
    width: 100%;
    background: #fff;
  }
  img {
    width: 100%;
    height: 73%;
  }
  .subscribe {
    border: none;
  }
}
